@model Hotel.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reservationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservationStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservationEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservationEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
